/* @import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Manrope", sans-serif;

  // grabient.com
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);

  // gradient-animator.com/
  background-size: 200% 200%;
  animation: bg 10s ease-in-out infinite;
}

@keyframes bg {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  width: 90%;
  max-with: 720px;
  height: 90%;
  max-height: 720px;
  background: #ffffff80;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

// START HERE

.circle {
  height: 50px;
  width: 50px;
  background: blue;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  flex-direction: column;

  & > * {
    //border: 1px solid black;
  }
}

.arrows-container {
  margin-top: 36px;
  display: flex;
  justify-content: center;

  .arrow {
    font-size: 48px;
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1);

    &:hover {
      transform: scale(1.25);
    }
  }

  .arrow-right {
    margin-left: 24px;
  }
}

.cards-container {
  height: 100%;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card {
  width: 160px;
  height: 160px;
  background: white;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 160px;
  cursor: pointer;
  //filter: blur(2px);
  transition: transform 0.2s;
  transform: scale(1);

  &:hover {
    transform: scale(1.1);
  }

  &.c3 {
    //filter: none;
    transform: scale(1.25);

    &:hover {
      transform: scale(1.35);
    }
  }

  .img-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .txt-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.c2 {
  position: absolute;
}

.c4 {
  right: 0;
  position: absolute;
  z-index: 1;
}

// Left classes

.c3-c2 {
  animation: c3-c2 0.4s ease-in-out both;
}

.c4-c3 {
  animation: c4-c3 0.4s ease-in-out both;
}

// Left animations

@keyframes c3-c2 {
  0% {
    //filter: none;
    transform: translateX(0px) scale(1.25);
  }

  100% {
    //filter: blur(2px);
    transform: translateX(-220px) scale(1); // 600 - 3*160 = 120 (gaps)
  }
}

@keyframes c4-c3 {
  0% {
    //filter: none;
    transform: translateX(0px) scale(1);
  }

  100% {
    //filter: blur(2px);
    transform: translateX(-220px) scale(1.25);
  }
}

// Right classes

.c2-c3 {
  animation: c2-c3 0.4s ease-in-out both;
}

.c3-c4 {
  animation: c3-c4 0.4s ease-in-out both;
}

// Right animations

@keyframes c2-c3 {
  0% {
    //filter: blur(2px);
    transform: translateX(0px) scale(1);
  }

  100% {
    //filter: none;
    transform: translateX(220px) scale(1.25);
  }
}

@keyframes c3-c4 {
  0% {
    //filter: blur(2px);
    transform: translateX(0px) scale(1.25);
  }

  100% {
    //filter: none;
    transform: translateX(220px) scale(1);
  }
}

// Fade classes

.fade-in {
  animation: fade-in 0.4s 0.1s ease-out both;
}

.fade-out {
  animation: fade-out 0.4s ease-out both;
}

// Fade animations

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.25);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.25);
  }
}

// Other

.hidden {
  visibility: hidden;
} */
