@import-normalize;

body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: calc(100vh - 64px);
}

#root {
  height: 100%;
}